<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Payroll App</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-color: #f7f7f7;
        }

        .make-me-sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        .sidebar-item {
            /*position: absolute;*/
            top: 0;
            /*left: 0;*/
            width: 100%;
            height: 100%;
        }

        @@media (max-width: 767.98px) {
            .sidebar-item {
                position: relative;
            }
            .fancy-floating {
                margin-top: 0 !important;
                padding: 0 !important;
            }
            header {
                position: relative !important;
                width: 100%;
            }
        }

        html, body, .main, main {
            height: 100%;
            margin-bottom: 0;
        }

        .nav-pills .nav-link {
            border-radius: 0;
            /*color: #0b66a1;*/
            /*color: #eb5e5e;*/
            padding: 15px;
        }

        header {
            position: absolute;
            width: 100%;
            z-index: 999;
        }

        nav {
            background-color: rgb(104,15,19);
        }

        .side {
            background-color: white;
            border: 0;
            border-right: 0.1px solid #e1e1e1;
        }

        .side .nav-item > .nav-link {
            color: #666;
        }

        .side .nav-item > .nav-link.active {
            background-color: rgba(104, 15, 19, 1) !important;
            color: white;
        }

        .side .nav-item > a.nav-link:hover {
            color: white;
            background-color: rgba(125, 30, 34, 0.80);
        }
        .earn-duct .form-group{
            margin-bottom: 0;
        }

    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Payroll App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid main">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    @*<footer class="border-top footer text-muted d-print-none" style="overflow: hidden;">
            <div class="container">
                &copy; 2020 - Payroll App
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
<script type="text/javascript">
    window.addEventListener('load', function () {
        $(".alert").delay(2000).slideUp(200, function () {
            $(this).alert('close');
        });
    });
</script>
</html>
