@page
@model PayrollAppRazorPages.Pages.Manage.Salary.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Salary</h1><br />

<div class="card">
    <h4 class="card-header">Are you sure you want to delete this?</h4>
    <div class="card-body">

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.StaffSalary.staff.FullName)
            </dt>
            <dd class="col-sm-9">
                : @Html.DisplayFor(model => model.StaffSalary.staff.FullName)
            </dd>
            <dt class="col-sm-3">
                Salary Period
            </dt>
            <dd class="col-sm-9">
                : @{ string SelectedDate = DateTime.Parse(Model.StaffSalary.Year.ToString() + "-" + Model.StaffSalary.Month.ToString() + "-01").ToString("MMMM yyyy");}
                @SelectedDate
            </dd>
        </dl>
        @{
            var parms = new Dictionary<string, string>
    {
        {"SelectedMonth", Model.StaffSalary.Month.ToString() },
        {"SelectedYear", Model.StaffSalary.Year.ToString() }
        };
        }
        <hr />
        <form method="post">
            <input type="hidden" asp-for="StaffSalary.salaryID" />
            <input type="submit" value="Delete" class="btn btn-danger" />

            <a class="btn btn-secondary" asp-page="./Index" asp-all-route-data="parms">Back to List</a>
        </form>
    </div>

</div>

