@page 
@model PayrollAppRazorPages.Pages.Manage.Salary.SendEmailConfirmationModel
@{
    ViewData["Title"] = "SendEmail";
}

    <div class="card">
        <div class="card-body">
            <h4>The Salary Slip has been emailed to @Model.Email </h4><br />
            <p>@Model.Name</p>
            @{
                var parms = new Dictionary<string, string>
{
                    {"SelectedMonth", Model.Month},
                    {"SelectedYear", Model.Year }
                };
            }
            <a class="btn btn-secondary" asp-page="./Index" asp-all-route-data="parms">Back to List</a>
        </div>
    </div>


