@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h4>Change your account settings</h4>
<div class="row main">
    <div class="col-md-2 p-0 d-print-none side">

        <partial name="_ManageNav" />
    </div>
    <div class="col-md-8  pt-md-5 offset-md-2">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
