@page
@model PayrollAppRazorPages.Pages.Manage.Staff.CreateModel
@{
    ViewData["Title"] = "Create Staff";
}

<h2>Create new Staff</h2>
<hr />
<form method="post">
    @*row*@
    <div class="card-deck">

        @*col-md-5*@
        <div class="card ">
            <h4 class="card-header">Personal Details</h4>
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.FullName"></label>
                    <input asp-for="Input.FullName" class="form-control" />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ICNo"></label>
                    <input asp-for="Input.ICNo" class="form-control" />
                    <span asp-validation-for="Input.ICNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
            </div>
        </div>

        @*<div class="col-md-5 offset-md-2"></div>*@

        <div class="card">
            <h4 class="card-header">Employee Details</h4>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Input.DOB"></label>
                    <input asp-for="Input.DOB" class="form-control" />
                    <span asp-validation-for="Input.DOB" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DateJoined"></label>
                    <input asp-for="Input.DateJoined" class="form-control" />
                    <span asp-validation-for="Input.DateJoined" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.TaxNo"></label>
                    <input asp-for="Input.TaxNo" class="form-control" />
                    <span asp-validation-for="Input.TaxNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.EPFNo"></label>
                    <input asp-for="Input.EPFNo" class="form-control" />
                    <span asp-validation-for="Input.EPFNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SocsoNo"></label>
                    <input asp-for="Input.SocsoNo" class="form-control" />
                    <span asp-validation-for="Input.SocsoNo" class="text-danger"></span>
                </div>
            </div>
        </div>
        @*end card*@
    </div><br />

    <div class="card">
        <h4 class="card-header">Default Salary Details</h4>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-5">
                    <label asp-for="Input.BasicSalary"></label>
                    <input value="0" asp-for="Input.BasicSalary" class="form-control" />
                    <span asp-validation-for="Input.BasicSalary" class="text-danger"></span>
                </div>
                <div class="col-md-7"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Input.Allowances"></label>
                    <input value="0" asp-for="Input.Allowances" class="form-control" />
                    <span asp-validation-for="Input.Allowances" class="text-danger"></span>
                </div>
                <div class="col-md-7"></div>
                <div class="form-group col-md-5">
                    <label asp-for="Input.EPF"></label>
                    <input value="0" asp-for="Input.EPF" class="form-control" />
                    <span asp-validation-for="Input.EPF" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5 offset-md-2">
                    <label asp-for="Input.EREPF"></label>
                    <input value="0" asp-for="Input.EREPF" class="form-control" />
                    <span asp-validation-for="Input.EREPF" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Input.Socso" class="control-label"></label>
                    @*<input asp-for="StaffSalary.Socso" class="form-control" />*@
                    <select onchange="doSocso()" id="socsoSelect" asp-for="Input.Socso" class="form-control">
                        <option value="1">First Category(Employment Injury Scheme and Invalidity Scheme)</option>
                        <option value="2">Second Category(Employment Injury Scheme)</option>
                    </select>
                    <span asp-validation-for="Input.Socso" class="text-danger"></span>
                </div>
                <div class="col-md-7"></div>

                <div class="form-group col-md-5">
                    <label asp-for="Input.SocsoRm"></label>
                    <input id="eesocso" value="0" asp-for="Input.SocsoRm" class="form-control" />
                    <span asp-validation-for="Input.SocsoRm" class="text-danger"></span>
                </div>

                <div class="form-group col-md-5 offset-md-2">
                    <label asp-for="Input.ERSocsoRm"></label>
                    <input id="ersocso" value="0" asp-for="Input.ERSocsoRm" class="form-control" />
                    <span asp-validation-for="Input.ERSocsoRm" class="text-danger"></span>
                </div>

                <div class="form-group col-md-5">
                    <label asp-for="Input.EIS"></label>
                    <input value="0" asp-for="Input.EIS" class="form-control" />
                    <span asp-validation-for="Input.EIS" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5 offset-md-2">
                    <label asp-for="Input.EREIS"></label>
                    <input value="0" asp-for="Input.EREIS" class="form-control" />
                    <span asp-validation-for="Input.EREIS" class="text-danger"></span>
                </div>

                <div class="form-group col-md-5">
                    <label asp-for="Input.Tax"></label>
                    <input value="0" asp-for="Input.Tax" class="form-control" />
                    <span asp-validation-for="Input.Tax" class="text-danger"></span>
                </div>

                <div class="col-md-7"></div>
                <div class="form-group col-md-5">

                    <button type="submit" class="btn btn-primary col-md-5">Create</button>
                </div>
            </div>
        </div>
        @*end class body*@
    </div>
</form>
<br />
<div>
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>
<br />

<script>
    function doSocso() {
        let select = document.getElementById('socsoSelect');
        let eesocso = document.getElementById('eesocso');
        let ersocso = document.getElementById('ersocso');

        if (select.value == "2") {
            eesocso.value = 0;
        }
    }
</script>