@page
@model PayrollAppRazorPages.Pages.Manage.Staff.ResetPwModel
@{
    ViewData["Title"] = "ResetPw";
}

<div class="card">
    <h4 class="card-header">Reset password of Staff  </h4>
    <div class="card-body">
        <p>Username: @Html.DisplayFor(model => model.applicationUser.UserName)</p>
        <p>
            Staff Name: @Html.DisplayFor(model => model.applicationUser.FullName)
        </p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @*<input type="hidden" asp-for="Input.Id" />*@
            </div>
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
    </div>
</div>
<br />

<a class="btn btn-secondary" asp-page="./Index">Back to List</a>