@page
@model PayrollAppRazorPages.Pages.Manage.Admin.CreateConfirmationModel
@{
    ViewData["Title"] = "CreateConfirmation";
}

<h1>Admin account created</h1>
<p>Login Details</p>
<hr />
<p>Username: @Model.Username</p>
<p>Password: @Model.Password</p>

<br />
<br />
<div>
    <a asp-page="./Index">Back to List</a>
</div>