@page
@model PayrollAppRazorPages.Pages.Manage.Admin.CreateModel
@{
    ViewData["Title"] = "Create";
}





<div class="row">
    <div class="col-md-4">
        <div class="card" style="border-color:steelblue;">
            <h4 class="card-header text-white" style="background-color:steelblue;">Create new Admin</h4>
            <form method="post">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        @*<label asp-for="Input.FullName"></label>*@
                        <input asp-for="Input.FullName" class="form-control" placeholder="Full Name" />
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Input.ICNo"></label>*@
                        <input asp-for="Input.ICNo" class="form-control" placeholder="I/C No" />
                        <span asp-validation-for="Input.ICNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @*<label asp-for="Input.PhoneNumber"></label>*@
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone number" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @*<label asp-for="Input.Email"></label>*@
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <hr />

                    <div class="form-group">
                        <label asp-for="Input.UserName"></label>
                        <input asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Create</button>
                    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>