@page
@model PayrollAppRazorPages.Pages.SalarySettings.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4">
        <div class="card" style="border-color:#76c82f;">
            <div class="card-header text-white" style="background-color:#76c82f;">
                @if (Model.Type == "add")
                {
                    <h4>New Salary Earning</h4>
                }
                else
                {
                    <h4>New Salary Deduction</h4>
                }
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SalaryItem.Name" class="control-label"></label>
                        <input asp-for="SalaryItem.Name" class="form-control" />
                        <span asp-validation-for="SalaryItem.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SalaryItem.DefaultAmount" class="control-label"></label>
                        <input asp-for="SalaryItem.DefaultAmount" class="form-control" />
                        <span asp-validation-for="SalaryItem.DefaultAmount" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="SalaryItem.IsDeduction" />
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
<br />
<div>
    <a class="btn btn-secondary" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
