@page
@model PayrollAppRazorPages.CreatePayrollModel

@{
    ViewData["Title"] = "CreatePayroll";
}

<h1>CreatePayroll</h1><br />

<div class="row">
    <form asp-page-handler="edit" method="post">
        <div class="col-md-8">
            <label>Add new payroll for: </label>
        </div>
        <div class="col-md-12">
            @*<input type="number" name="payrollmonth" placeholder="Month" />*@
            <select name="payrollmonth">
                <option value="">- Select a month -</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
            <input name="payrollyear" placeholder="Year (eg. 2020)" />
        </div><br />
        <div class="col-md-4">
            @*<input type="submit" />*@
            <button type="submit" class="btn-primary btn-sm">Process</button>
        </div><br />
        </form>
</div>

<p>
    <a asp-page="Index">Back To List</a>
</p>